:host {
  width: 100%;
}

#drawer {
  z-index: 100;
}

#drawerNav {
  height: 100%;
  overflow: auto;
}

#content {
  margin: 0 1rem 3rem;
}

#headerToolbar {
  padding-left: 0;
}

#bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  height: 2rem;
  line-height: 2rem;
  width: 100%;
  text-align: center;
}
