table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid lightgray;
}

th {
  text-align: start;
}

td, th {
  padding: 0.5rem 0.75rem;
}

.number {
  text-align: end;
}

.positive {
  color: #21ce99;
}

.negative {
  color: #f45531;
}
